/* ########## Questions & Buttons ########## */

.question-text-center-and-middle {
    height:100%;
}

.box-hight {
    height:50%;
}

#question {
    margin-bottom: 75px;
    font-size: 50;
    text-shadow: 5px 5px 5px rgb(147, 85, 160);
    backdrop-filter: blur(3px);
    background-color: #6604519c;
    border-radius: 25px 25px;
    border-style: dashed;
}

.uk-background-secondary {
    background-color: #000000;
    background-image: image-set("../content/jpg/2449622.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}


button {
	width: 500px;
	height: 40px;
	text-align: center;
	overflow: clip;
	white-space: nowrap;
	max-width: 100%;
	max-height: 100%;
	font-size: 24px;
	background-color: #660451;
    border-color: aqua;
    border-style: dotted;
	color: rgb(255, 255, 255);
	margin: 4px 2px;
	cursor: pointer;
	transition-duration: 0.4s;
	display: inline-block;
}

button:hover {
	background-color: #ffbb00;
	color: rgb(0, 0, 0);
}

#next_button {
	margin-top: 0;
}

#content {
	text-align: center;
    width: 860px;
    padding: 55px;
}

#br {
    width: 100%;
}

#next {
    margin-top: 0;
}

/* ########## Progress Timer Bar ########## */

.progressbar {
    width: 497px;
    margin: 25px auto 0 auto;
    /* border: solid 1px #000; */
}

.progressbar .inner {
    height: 10px;
    animation: progressbar-countdown;
    /* Placeholder, this will be updated using javascript */
    animation-duration: 40s;
    /* We stop in the end */
    animation-iteration-count: 1;
    /* Stay on pause when the animation is finished finished */
    animation-fill-mode: forwards;
    /* We start paused, we start the animation using javascript */
    animation-play-state: paused;
    /* We want a linear animation, ease-out is standard */
    animation-timing-function: linear;

    margin: auto;
}

@keyframes progressbar-countdown {
    0% {
        width: 100%;
        background: #0F0;
    }

    100% {
        width: 0%;
        background: #F00;
    }
}